src/net/stanza/schema/Error.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">

    <xsd:complexType name="ErrorStanza">
      <xsd:sequence>
        <xsd:element name="text" type="xsd:string" minOccurs="0" />
      </xsd:sequence>
      <xsd:attribute name="type" type="xsd:string" />
    </xsd:complexType>

   <xsd:element name="error" type="ErrorStanza" />

</xsd:schema>